* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: grey;
}

#container {
  width: 100vw;
  height: 100%;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-shadow: 0px 0px 10px black;
          box-shadow: 0px 0px 10px black;
  overflow: hidden;
}

.item {
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.item1 {
  width: 100%;
  height: 30px;
  background-color: darkblue;
  background-image: url("https://cdn.pixabay.com/photo/2019/11/19/21/44/animal-4638598_960_720.jpg");
  backround-size: 100%;
}

.item2 {
  width: 100%;
  height: 300px;
  background-color: lightblue;
  background-image: url("https://cdn.pixabay.com/photo/2019/09/22/18/12/wolf-4496659_960_720.jpg");
  background-size: 100%;
  background-position: center;
}

.wolf {
  background-image: url("leviwolf.png");
  background-repeat: no-repeat;
  background-size: 120%;
  background-position-x: -160px;
  background-position-y: -25px;
  width: 100%;
  height: 100%;
  -webkit-animation: wolf 2.5s ease-in infinite;
          animation: wolf 2.5s ease-in infinite;
}

@-webkit-keyframes wolf {
  0% {
    -webkit-transform: translateY(1%);
            transform: translateY(1%);
  }
  25% {
    -webkit-transform: translateY(2%);
            transform: translateY(2%);
  }
  50% {
    -webkit-transform: translateY(3%);
            transform: translateY(3%);
  }
  75% {
    -webkit-transform: translateY(2%);
            transform: translateY(2%);
  }
  100% {
    -webkit-transform: translateY(1%);
            transform: translateY(1%);
  }
}

@keyframes wolf {
  0% {
    -webkit-transform: translateY(1%);
            transform: translateY(1%);
  }
  25% {
    -webkit-transform: translateY(2%);
            transform: translateY(2%);
  }
  50% {
    -webkit-transform: translateY(3%);
            transform: translateY(3%);
  }
  75% {
    -webkit-transform: translateY(2%);
            transform: translateY(2%);
  }
  100% {
    -webkit-transform: translateY(1%);
            transform: translateY(1%);
  }
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrow {
  top: 15px;
  background-color: #00ceafb6;
  background-image: url("https://image.flaticon.com/icons/svg/318/318448.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 25%;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 5px black;
          box-shadow: 0px 0px 5px black;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.arrow::before {
  position: absolute;
  content: '';
  opacity: 0;
  width: 100%;
  border-radius: 25%;
  height: 100%;
  -webkit-box-shadow: 0px 0px 10px #00ffd9;
          box-shadow: 0px 0px 10px #00ffd9;
  -webkit-animation: light 3s linear infinite;
          animation: light 3s linear infinite;
}

@-webkit-keyframes light {
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes light {
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.arrow:hover {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-animation: random 4s ease-out infinite;
          animation: random 4s ease-out infinite;
}

@-webkit-keyframes random {
  0% {
    background-color: cyan;
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  25% {
    background-color: darkblue;
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  50% {
    background-color: lime;
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  75% {
    background-color: purple;
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  100% {
    background-color: cyan;
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
}

@keyframes random {
  0% {
    background-color: cyan;
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  25% {
    background-color: darkblue;
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  50% {
    background-color: lime;
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  75% {
    background-color: purple;
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  100% {
    background-color: cyan;
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
}

.hide {
  height: 300px;
}
/*# sourceMappingURL=style.css.map */