* {
    text-align: center;
    margin: 0 auto;

}
.wrapper {
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, rgba(14,93,26,1) 0%, rgba(187,255,57,1) 67%, rgba(36,238,66,1) 90%);
}
#root {
    width: 250px;
    box-shadow: 0px 0px 20px black;
}
.menu {
    background-color: rgb(68, 68, 68);
    height: 50px;
    display: flex;
    padding: 10px 0px 10px 0px;
}
.menu > button {
    width: 50px;
    height: 50px;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 5px;
    border: 0;
    cursor: pointer;
}

.menu > button:nth-of-type(1){
    background-color: rgb(61, 187, 61);
}
.menu > button:nth-of-type(2){
    background-color:rgb(173, 151, 151);
}
.menu > button:nth-of-type(1):hover {
    background-color: rgb(106, 216, 106);
}
.menu > button:nth-of-type(2):hover {
    background-color:rgb(206, 182, 182);
}
.header {
    background-color: rgb(160, 131, 131);
    height: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 5px;
    font-size: 20px;
    color: whitesmoke;
    -webkit-text-stroke: 1px black;
}

input {
    height: 60px;
    width: 250px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
ul {
    border-radius: 0px 0px 5px 5px;
    background-color: lightgrey;
    padding: 10px 0px 10px 0px;
}
li {
    list-style: none;
    padding: 10px 0px 10px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    border-bottom: 1px rgb(195, 195, 195) solid;

}
li:hover {
    background-color:  rgb(195, 195, 195);
}