#navbar {
  height: 80px;
  padding: 0;
}
#navbar .navbar-toggler {
  padding: 0;
  outline: none;
}
#navbar .navbar-small {
  margin-top: 10px;
  flex-flow: row nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
#navbar .navbar-small .navbar-logo img {
  margin-left: 60px;
  width: 135px;
  height: 135px;
}
#navbar .navbar-nav {
  margin-top: 15px;
  background-color: #f9f9f9;
}
#navbar .navbar-nav .nav-brand {
  display: none;
}
#navbar .navbar-nav a {
  color: rgb(41, 41, 41);
}
#navbar .navbar-nav a i {
  display: none;
}
#navbar .navbar-nav a:hover {
  color: rgb(41, 41, 41);
}
#navbar .navbar-nav .nav-item {
  width: 100%;
  text-align: center;
  transition: background-color 0.7s;
}
#navbar .navbar-nav .nav-item:hover {
  background-color: rgba(0, 0, 0, 0.3647058824);
}

header .carousel-item img {
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  left: 0 !important;
  transform: none;
  -o-object-fit: cover;
     object-fit: cover;
}
header .home-socialmediabox {
  margin-top: -100px;
  width: 45px;
  height: 45px;
  position: ABSOLUTE;
}
header .home-socialmediabox .home-socialmedia {
  font-size: 28px;
}
header .home-container-header {
  margin-top: 400px;
}
@media screen and (max-height: 600px) {
  header .home-container-header {
    margin-top: 300px;
  }
}
@media screen and (min-height: 750px) {
  header .home-container-header {
    margin-top: 600px;
  }
}
header .home-container-header h1 {
  width: 90%;
  height: 100%;
  font-size: 26px;
  margin-left: 2rem;
  padding: 10px;
}
header .home-container-para {
  margin-left: 15px;
  margin-top: 20px;
}
header .home-container-para p {
  width: 95%;
  font-size: 16px;
  margin-bottom: 0;
}
header .home-container-para p b {
  font-size: 16px;
}

.oferta .oferta-wall .oferta-heading {
  font-size: 65px;
  height: 200px;
}
.oferta .oferta-wall .oferta-head a .oferta-header {
  height: 200px;
}
.oferta .oferta-wall .oferta-head .oferta-head-container .oferta-head-hero {
  width: 0;
}
.oferta .oferta-wall .oferta-head .oferta-head-container .oferta-head-hero img {
  display: none;
}
.oferta .oferta-wall .oferta-head .oferta-head-container .oferta-paragraph-left {
  padding: 15px;
  font-size: 15px;
  text-align: center;
}
.oferta .background {
  flex-flow: column nowrap;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.oferta .background .para {
  font-size: 14px;
  width: 100%;
  padding: 15px 20px 10px 20px;
}
.oferta .carousel {
  width: 100%;
}
.oferta .carousel img {
  width: 105%;
  height: 200px;
}
.oferta .carousel-item {
  width: 101%;
  margin-top: 10px;
  height: 210px;
}
.oferta .carousel-inner {
  margin-top: -15px;
}
.oferta .jumbotron .h1-left {
  margin-bottom: 0px;
  margin-left: 0;
  font-size: 24px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
  z-index: 10;
}
.oferta .jumbotron .h1-right {
  margin-top: -1rem;
  margin-bottom: 0;
  margin-left: 0px;
  font-size: 24px;
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  position: relative;
  z-index: 10;
}
.oferta .jumbotron .h1-center {
  margin-top: -1rem;
  margin-bottom: 0;
  margin-left: 0px;
  font-size: 22px;
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  position: relative;
  z-index: 10;
}
.oferta .jumbotron .container .bigger {
  align-items: center;
}

#galeria .galeria-jumbotron .galeria-header h1 {
  font-size: 60px;
  margin-top: 1rem;
}
#galeria .galeria-jumbotron .galeria-header p {
  font-size: 18px;
  margin-top: -1rem;
  margin-bottom: 2rem;
}
#galeria .jumbotron {
  border-radius: 0;
}
#galeria .gallery-carousel {
  display: block !important;
  width: 90vw;
  justify-content: center;
  align-items: center;
  height: 250px;
  border-radius: 10px;
}
#galeria .gallery-carousel .carousel-shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 99;
}
#galeria .gallery-carousel img {
  border-radius: 5px;
  width: 100%;
  height: 250px;
  transition: filter 0.2s linear;
}
#galeria .gallery-carousel img:hover {
  filter: brightness(120%) grayscale(12%);
}
#galeria .row {
  display: none;
}

#onas .onas-header a {
  font-size: 65px;
}
#onas .onas-wall .row {
  margin-left: 0;
  margin-right: 0;
}
#onas .onas-wall .row i {
  font-size: 24px;
}
#onas .onas-wall .row p {
  font-size: 14px;
}
#onas .onas-wall .row span {
  font-size: 18px;
}
#onas .onas-wall .row .item {
  margin-top: -25px;
}
#onas .onas-wall .row .item i {
  padding: 5px;
}
#onas .onas-wall .row .col-2 {
  flex: 0 0 50%;
  max-width: 50%;
}
#onas .onas-wall .row .hiddenclass {
  display: none;
}

#lokalizacja .jumbotron {
  border-radius: 0;
  height: 130px;
  padding-bottom: 0;
}
#lokalizacja .jumbotron h2 a {
  font-size: 60px;
}
#lokalizacja .lokalizacja-main {
  flex-flow: column-reverse;
  height: 100%;
}
#lokalizacja .lokalizacja-main p {
  width: 90%;
  font-size: 15px;
  margin: 50px 0 0 0;
  padding: 15px;
}
#lokalizacja .lokalizacja-main iframe {
  margin-top: 2rem;
  width: 90%;
  margin-bottom: 4rem;
}

#kontakt .scroll-fix {
  margin-top: -80px;
  padding-topp: 80px;
}
#kontakt .jumbotron {
  padding-bottom: 1rem;
  padding-top: 1rem;
}
#kontakt .jumbotron h2 a {
  font-size: 60px;
  padding-top: 1rem;
}
#kontakt .jumbotron p {
  font-size: 17px;
}
#kontakt .kontakt-main {
  height: 100%;
  flex-flow: column-reverse;
}
#kontakt .kontakt-main .infocon {
  width: 90%;
  padding: 25px 10px 25px 10px;
  margin: 30px;
}
#kontakt .kontakt-main .infocon h3 {
  font-size: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#kontakt .kontakt-main .infocon p {
  font-size: 18px;
}
#kontakt .kontakt-main .contact {
  width: 90%;
}
#kontakt .kontakt-main .contact .buttoncaptcha .recaptcha-label .g-recaptcha div div iframe {
  max-width: 200px;
}/*# sourceMappingURL=extrasmall.css.map */