* {
  scroll-behavior: smooth;
  outline: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

body {
  position: relative;
  font-family: "Roboto", sans-serif;
}

.hidden {
  display: none;
}

.scroll-fix {
  margin-top: -55px;
  padding-top: 55px;
}

#navbar {
  width: 100vw;
  background-color: #f9f9f9;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 55px;
}
#navbar .navbar-small {
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 10;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
}
#navbar .navbar-small .navbar-logo {
  flex: 8;
}
#navbar .navbar-small .navbar-toggler-icon {
  flex: 2;
  align-self: center;
}
#navbar .navbar-small .navbar-toggler-icon i {
  font-size: 25px;
}
#navbar .navbar-nav {
  align-items: center;
}
#navbar .navbar-nav a {
  color: rgba(32, 32, 32, 0.8980392157);
}
#navbar .navbar-nav a i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #4062d1;
}
#navbar .navbar-nav a:hover {
  color: #0054da;
}
#navbar .navbar-nav .nav-brand {
  margin-top: 10px;
  height: 200px;
  width: 275px;
  background-color: #f9f9f9;
  border-radius: 50%;
}
#navbar .navbar-nav .nav-brand img {
  width: 200px;
  height: auto;
  margin-top: 20px;
  margin-left: 32px;
}
#navbar .navbar-nav .nav-item {
  padding: 0px 25px 0px 25px;
}
#navbar .navbar-nav .nav-brand-hide {
  display: none !important;
}
#navbar .nav-transparent {
  background-color: rgba(249, 249, 249, 0.737254902) !important;
}

header {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
header .home-img {
  height: 100%;
  position: relative;
}
header .home-shadow {
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 40px 2px inset rgba(255, 255, 255, 0.103);
  z-index: 2;
  position: absolute;
}
header .carousel-item {
  width: 100%;
  height: 100vh;
}
header .carousel-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .home-wall {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column nowrap;
  position: absolute;
  z-index: 25;
  width: 100%;
  height: 100vh;
}
header .home-socialmediabox {
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: end;
  flex-flow: column nowrap;
  width: 57px;
  height: 57px;
  background-color: rgba(35, 39, 250, 0.8549019608);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: fixed;
  z-index: 999;
}
header .home-socialmediabox .home-socialmedia {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}
header .home-socialmediabox .home-socialmedia i {
  color: #f9f9f9;
}
header .home-socialmediabox .home-socialmedia:hover {
  background-color: rgba(32, 36, 255, 0.7058823529);
  text-shadow: 1px 1px 5px rgba(206, 206, 206, 0.5960784314);
}
header .home-container-header {
  margin-top: 500px;
}
header .home-container-header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 100%;
  height: 70px;
  background-color: rgba(255, 188, 30, 0.87);
  font-weight: bold;
  margin-left: 6rem;
  font-size: 45px;
  color: #f9f9f9;
}
header .home-container-para {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  margin-left: 425px;
  transition: all 0.2s;
  margin-top: 10px;
}
header .home-container-para a {
  text-decoration: none;
}
header .home-container-para p {
  color: #f9f9f9;
  font-size: 20px;
  padding: 5px 15px 5px 15px;
  background-color: rgba(255, 136, 0, 0.89);
}
header .home-container-para p b {
  font-size: 24px;
}
header .home-container-para:hover {
  transition: all 0.3s;
  transform: scale(1.05);
}

.oferta {
  width: 100%;
  position: relative;
}
.oferta .oferta-wall {
  width: 100%;
  height: 100%;
  background-image: url(./images/oferta-wall.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  overflow: hidden;
}
.oferta .oferta-wall .oferta-head {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  height: 430px;
  background-color: rgba(255, 255, 255, 0.7254901961);
  z-index: 10;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}
.oferta .oferta-wall .oferta-head a {
  text-decoration: none;
}
.oferta .oferta-wall .oferta-head a .oferta-header {
  width: 100vw;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000000;
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: bold;
}
.oferta .oferta-wall .oferta-head .oferta-head-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  margin-top: -2rem;
}
.oferta .oferta-wall .oferta-head .oferta-head-hero {
  width: 100%;
  height: auto;
  margin-top: -5rem;
}
.oferta .oferta-wall .oferta-head .oferta-head-hero img {
  width: 600px;
}
.oferta .oferta-wall .oferta-head .oferta-head-hero:hover {
  -webkit-animation: in linear 2s infinite;
          animation: in linear 2s infinite;
}
@-webkit-keyframes in {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes in {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.oferta .oferta-wall .oferta-head .oferta-paragraph-left {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 100px 0px 0px;
  width: 100%;
  color: rgb(41, 41, 41);
  font-size: 19px;
  font-family: "Montserrat", sans-serif;
}
.oferta .oferta-wall .oferta-head .oferta-paragraph-center {
  width: 90%;
  text-align: center;
  font-size: 20px;
  color: #f9f9f9;
  font-weight: bold;
}
.oferta .oferta-shadow {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.288);
  z-index: 5;
  position: absolute;
}
.oferta .oferta-heading {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bilbo Swash Caps", cursiva;
  font-size: 90px;
  z-index: 50;
  text-shadow: 2px 2px black;
}
.oferta .oferta-heading a {
  text-decoration: none;
  color: #f9f9f9;
  font-weight: bold;
}
.oferta .jumbotron {
  width: 100%;
  margin-bottom: 2rem;
  z-index: 50;
}
.oferta .jumbotron .h1-left {
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -200px;
  font-size: 35px;
  height: 65px;
  width: 80%;
  color: #ffffff;
  background-color: rgba(255, 145, 1, 0.7607843137);
  border-top-right-radius: 15px;
  font-family: "Montserrat";
}
.oferta .jumbotron .h1-right {
  margin-top: -95px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 250px;
  font-size: 35px;
  width: 100%;
  height: 65px;
  color: #ffffff;
  background-color: rgba(0, 76, 255, 0.6039215686);
  border-top-left-radius: 15px;
  font-family: "Montserrat";
}
.oferta .jumbotron .h1-center {
  margin-top: -95px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  font-size: 35px;
  height: 65px;
  width: 80%;
  color: #ffffff;
  background-color: rgba(189, 166, 64, 0.9254901961);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  font-family: "Montserrat";
}
.oferta .container {
  max-width: 100vw;
  width: 90%;
}
.oferta .background {
  display: flex;
  align-items: center;
  width: 100%;
  height: 400px;
  background-color: rgba(249, 249, 249, 0.9176470588);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.6784313725);
}
.oferta .background .para {
  width: 50%;
  text-align: left;
  padding: 40px;
}
.oferta .bigger {
  width: 100%;
  align-items: start;
  border-bottom-left-radius: 10px;
}
.oferta .carousel {
  width: 650px;
}
.oferta .carousel-item {
  width: 100%;
  height: 400px;
}
.oferta .carousel-item p {
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  color: #f9f9f9;
  background-color: rgba(12, 9, 9, 0.4509803922);
}
.oferta .carousel-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.oferta .carousel-caption {
  bottom: -10px;
}
.oferta .carousel-indicators {
  bottom: -10px;
}

#galeria .galeria-jumbotron {
  justify-content: center;
  align-items: center;
  z-index: 1000;
  margin-bottom: -2rem;
  background-color: #f9f9f9;
}
#galeria .galeria-jumbotron .gallery-carousel {
  display: none;
}
#galeria .galeria-jumbotron .galeria-header {
  margin-top: -20px;
}
#galeria .galeria-jumbotron .galeria-header h1 {
  height: 100px;
  text-align: center;
  font-family: "Bilbo Swash Caps", cursiva;
  font-size: 80px;
  color: rgb(41, 41, 41);
}
#galeria .galeria-jumbotron .galeria-header p {
  font-size: 25px;
  text-align: center;
}
#galeria .galeria-jumbotron .galeria-header a {
  text-decoration: none;
}
#galeria .galeria-jumbotron .galeria-main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  align-self: center;
}
#galeria .galeria-jumbotron .galeria-main .row {
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 250px;
}
#galeria .galeria-jumbotron .galeria-main .row .image {
  box-shadow: -3px 3px 10px grey;
  margin: 10px;
  padding: 0px;
  transition: box-shadow 0.3s;
}
#galeria .galeria-jumbotron .galeria-main .row .image img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
#galeria .galeria-jumbotron .galeria-main .row .image:hover {
  box-shadow: -3px 3px 5px rgb(236, 141, 32);
}

#onas {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  height: 500px;
  display: flex;
  jusfify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}
#onas .onas-header {
  width: 100%;
  height: 200px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
#onas a {
  font-family: "Bilbo Swash Caps", cursive;
  text-decoration: none;
  color: #f9f9f9;
  text-shadow: 2px 2px black;
  font-size: 90px;
}
#onas .onas-wall {
  width: 100%;
}
#onas .onas-shadow {
  width: 100%;
  height: 445px;
  background-color: rgba(0, 0, 0, 0.288);
  z-index: 1;
  position: absolute;
}
#onas .onas-containervideo {
  width: 100%;
  margin-top: -200px;
}
#onas .onas-video {
  z-index: -100;
  filter: contrast(120%);
  overflow: hidden !important;
  display: flex;
}
#onas .onas-video video {
  margin-top: 40px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 450px;
  z-index: -100;
}
#onas .onas-items {
  z-index: 100;
  height: 300px;
  width: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
}
#onas .onas-items .item {
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-flow: column nowrap;
  width: 75px;
  height: 75px;
  transition: transform 0.3s ease-out;
}
#onas .onas-items .item i {
  color: #f9f9f9;
  font-size: 45px;
  padding: 15px;
}
#onas .onas-items .item span {
  color: #f9f9f9;
  font-weight: bold;
  font-size: 30px;
}
#onas .onas-items .item p {
  color: #f9f9f9;
}
#onas .onas-items .item:hover {
  transform: translateY(-15px);
}

#lokalizacja .lokalizacja-heading {
  height: 185px;
  background-color: #f9f9f9;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
#lokalizacja .lokalizacja-heading h2 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  z-index: 100;
}
#lokalizacja .lokalizacja-heading a {
  font-family: "Bilbo Swash Caps", cursive;
  text-decoration: none;
  color: rgb(41, 41, 41);
  font-size: 80px;
}
#lokalizacja .lokalizacja-shadow {
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 450px;
  background-color: rgba(0, 0, 0, 0.2);
}
#lokalizacja .lokalizacja-main {
  height: 450px;
  background-image: url("./images/krynica1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-top: -33px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
#lokalizacja .lokalizacja-main iframe {
  z-index: 100;
  box-shadow: 0px 0px 20px 0px rgb(41, 41, 41);
  border-radius: 10px;
}
#lokalizacja .lokalizacja-main p {
  width: 40%;
  color: #f9f9f9;
  z-index: 100;
  padding: 30px;
  margin: 50px;
  background-color: rgba(0, 139, 194, 0.8784313725);
}

#kontakt {
  margin-bottom: -2rem;
}
#kontakt .kontakt-heading {
  margin-top: -33px;
  height: 185px;
  background-color: #f9f9f9;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
#kontakt .kontakt-heading h2 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  z-index: 100;
}
#kontakt .kontakt-heading a {
  font-family: "Bilbo Swash Caps", cursive;
  text-decoration: none;
  color: rgb(41, 41, 41);
  font-size: 80px;
}
#kontakt .kontakt-heading p {
  margin-top: -10px;
  color: black;
  font-size: 20px;
  text-align: center;
}
#kontakt .kontakt-shadow {
  position: absolute;
  width: 100%;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.2);
}
#kontakt .kontakt-main {
  background-image: url("./images/krynica2.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 600px;
  margin-top: -33px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row-reverse wrap;
}
#kontakt .kontakt-main .infocon {
  width: 40%;
  z-index: 100;
  padding: 30px;
  margin: 50px;
  background-color: rgba(255, 136, 0, 0.89);
  text-align: center;
  box-shadow: 0px 0px 20px 0px rgb(41, 41, 41);
}
#kontakt .kontakt-main .infocon h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  color: black;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3411764706);
}
#kontakt .kontakt-main .infocon p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 1px 1px black;
}
#kontakt .kontakt-main .contact {
  box-shadow: 0px 0px 20px 0px rgb(41, 41, 41);
}
footer {
  box-shadow: 0px 0px 10px 1px black;
  width: 100%;
  height: 30px;
  background-color: black;
  text-align: center;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}
footer p {
  font-size: 13px;
  margin-top: 15px;
}
footer p a {
  align-self: center;
  color: rgb(255, 136, 0);
}/*# sourceMappingURL=style.css.map */